{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome!</h2>
    <p>
        You are one your new authorization server based on the OAuth2 Framework Protocol.<br/>
        Before using it, you must execute the following actions:
    </p>
    <ol>
        <li>Create your database</li>
        <li>Create a user to administrate your server</li>
    </ol>
{% endblock %}
